{% extends 'navbar.html' %}

{% block content %}

    <!-- User Dashboard Begins Here -->
    <div class="container container-lg mt-2 mb-5 bg-body">
        {% if status %}
        <div class="alert alert-success" role="alert">
            {% if status == 'deleted' %}
            You have successfully deleted the user {{name}}!
            {% elif status == 'created' %}
            You have successfully created a new user: {{name}}
            {% elif status == 'managerSet' %}
            {{name}} has been granted manager privileges.
            {% elif status == 'managerRemoved' %}
            Manager privileges have been removed from {{name}}
            {% elif status == 'reset' %}
            You have successfully changed {{name}}'s password
            {% endif %}
        </div>
        {% endif %}

          
        <!-- Welcome -->
        <div class="text-center">
            <h1>Welcome, {{ user.first_name }}!</h1> <!-- INSERT USER's NAME HERE -->
        </div>

        <div class="container mt-1 mb-4 p-4 border shadow-sm px-4 rounded">
            <div id="user-nav" class="d-flex justify-content-between mb-3">
                <div class="col d-flex justify-content-between">
                    <h5>User Management</h5>
                    <!-- Create User -->
                    <button class="btn btn-primary text-light text-uppercase" type="button" data-bs-toggle="modal"
                            data-bs-target="#modalCreateUser">Create User
                    </button>
                </div>
            </div>
                <!-- TABLE PROPER -->
                <table id="usersTable" class="table">
                    <thead>
                    <tr class="bg-body-tertiary">
                        <th scope="col">Email</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Department</th>
{#                        <th scope="col">Email</th>#}
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="userTable">
                    {% for user in user_list %}
                        <tr id="user{{ user.username }}">
                            <th scope="row">{{ user.username }}</th>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <!-- get the name of the department of a user. The name is in the Department table and the information is in the UserDepartment table-->
                            <td>{{ user.userdepartment_set.all.0.department.name }}</td>

{#                            <td>{{ user.email }}</td>#}
                            <td class="text-end">
                                <a href="{% url 'user_info' user.username %}">
                                    <button class="btn btn-primary text-light">Edit User</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    <!-- User Dashboard Ends -->

    <!-- Modal Create User -->
    <div class="modal fade" id="modalCreateUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="modalTitleCreateTask" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-light" data-bs-theme="dark">
                    <h1 class="modal-title fs-5" id="modalHeaderCreateTask">Create a User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Form Proper -->
                <form action="register" method="POST" class="form p-4" id="formCreateUser">
                    {% csrf_token %}
                    <div class="modal-body">
                        <!-- Looping through the form fields-->
                        {% for field in create_user_form %}
                            {% if field.label == 'Password' %}
                                <div class="row d-flex flex-wrap justify-content-between mb-3">
                                    <div class="col-11 col-md-5 mx-4">
                                        {{ field.label }}
                                        {{ field }}
                                    </div>
                                {# <!-- Group every 2 fields together into a div -->#}
                            {% elif forloop.counter0|divisibleby:2 %}
                                <div class="row d-flex flex-wrap justify-content-between mb-3">
                                    <div class="col-11 col-md-5 mx-4">
                                        {{ field.label }}
                                        {{ field }}
                                    </div>
                            {% else %}
                                    <div class="col-11 col-md-5 mx-4">
                                        {{ field.label }}
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="fs-6 fst-italic fw-lighter">
                        {{ create_user_form.password1.help_text }}
                        </div>
                    </div>
                    <div class="modal-footer d-flex">
                        <div id="id_password_error" class="text-danger d-none">Passwords do not match</div>
                        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Cancel</button>
                        <button id="id_create_user_save" type="submit" class="btn btn-primary btn-lg text-light" value="">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
