{% extends 'navbar.html' %}

{% block content %}
<section class="vh-10 gradient-custom">
    <div class="form-group py-5 h-10">
        {% if reset_success %}
            <div class="row d-flex justify-content-center align-items-center h-80">
                <div class="col-12 col-md-4 col-lg-5">
                    <div class="card bg-light text-dark" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5 text-start">
                                <h2 class="fw-bold mb-2">Password reset successfully!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <div class="row d-flex justify-content-center align-items-center h-80">
                    <div class="col-12 col-md-4 col-lg-5">
                        <div class="card bg-light text-dark" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-5 text-start">
                                    {% if error %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </div>
                                    {% endif %}
                                    {% if success %}
                                        <div class="alert alert-success" role="alert">
                                            {{ success }}
                                        </div>
                                    {% endif %}
                                    <h2 class="fw-bold mb-2">Reset password</h2>
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="password1">Password</label>
                                        <input type="password" name="password1" class="form-control" required autofocus>
                                    </div>
                                    <div>
                                        <label class="form-label" for="password2">Reconfirm password</label>
                                        <input type="password" name="password2" class="form-control">
                                    </div>
                                    <input type="hidden" name="user_id" value="{{ user_id }}">
                                    <br><br>
                                    <button class="btn btn-outline-primary btn-lg px-5" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</section>
{% endblock %}
