{% extends 'navbar.html' %}

{% block content %}

<section class="vh-10 gradient-custom">
    <div class="form-group py-5 h-10">
        <form method="post">
            {% csrf_token %}
            <div class="row d-flex justify-content-center align-items-center h-80">
                <div class="col-12 col-md-4 col-lg-5">
                    <div class="card bg-light text-dark" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5 text-start">

                                <h2 class="fw-bold mb-2">Forget password</h2>

                                <p class="text-center text-danger">
                                    {% if form.errors %}
                                    {% for error in form.non_field_errors %}
                                    {{error}}
                                    {% endfor %}
                                    {% endif %}
                                </p>

                                <div class="form-outline form-white mb-4">

                                    <label class="form-label" for="id_username">Username</label>
                                    <input type="text" id="id_username" name="username" class="form-control"
                                           placeholder="email" required autofocus>
                                </div>



                                <button class="btn btn-outline-primary btn-lg px-5" type="submit">Submit</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
