{% extends 'navbar.html' %}

{% block content %}
<!-- Task Dashboard Begins Here -->
<div class="container container-lg mt-5">
    <!-- Welcome -->
    <div class="text-center">
        <h1>Welcome, {{user.first_name}}!</h1> <!-- INSERT USER's NAME HERE -->
    </div>

    <div class="container bg-body mt-5 p-4 border shadow-sm px-4 rounded">
        <!-- TASK NAVIGATION BAR -->
        <div id="task-nav" class="d-flex justify-content-between mt-1 mb-4">
            {% if user.is_staff %}
            <div class="col-6 d-flex justify-content-between">
            {% else %}
            <div class="col-4 d-flex justify-content-between">
            {% endif %}
                <a href='home?filter=user'><button class="btn btn-primary text-light text-uppercase" type="button">My Tasks</button></a>
                <a href='home?filter=all'><button class="btn btn-primary text-light text-uppercase" type="button">All Tasks</button></a>
                <a href='home?filter=unassigned'><button class="btn btn-primary text-light text-uppercase" type="button">Unassigned Tasks</button></a>
                {% if user.is_staff %}
                <a href='home?filter=completed'><button class="btn btn-primary text-light text-uppercase" type="button">Completed Tasks</button></a>
                {% endif %}
            </div>
            <div class="col-4 d-flex justify-content-end">
                <!-- Create Task -->
                <button class="btn btn-primary text-light text-uppercase" type="button" data-bs-toggle="modal"
                    data-bs-target="#modalCreateTask">Create Task</button>
            </div>
        </div>

        <!-- TABLE PROPER -->
        <table id="tasksTable" class="table mt-5 accordion">
            <thead>
                <tr class="bg-body-tertiary">
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col">Category</th>
                    <th scope="col">Assigned To</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Due Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="taskTable">
                {% for task in tasks %}
                <tr id="task{{task.id}}">
                    <th scope="row">{{ task.name }}</th>
                    <td>
                        <button type="button" class="task-status btn btn-sm dropdown-toggle w-100 text-end" data-bs-toggle="dropdown" aria-expanded="false">
                            {{task.get_status_display}}
                        </button>
                        <ul class="dropdown-menu">
                            {% for choice in choices %}
                            {% if choice.0 != 0 %}
                            <li><button class="dropdown-item" onclick="changeStatus({{task.id}}, {{choice.0}}, '{{choice.1}}')">{{choice.1}}</button></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ task.category }}</td>
                    <td>{% if not task.user.first_name.isalnum %}
                        {{task.user}}
                        {% else %}
                        {{task.user.first_name}}
                        {% endif %}
                    </td>
                    <td><div class='task-prio'>{{ task.get_priority_display }}</div></td>
                    <td>{{ task.date_created }}</td>
                    <td>{{ task.date_due }}</td>
                    <td class="text-center"><button class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#modalViewTask" onclick="showTaskInfo({{ task.id }},
                     '{{ task.name }}',
                      {{task.status}},
                       {{task.category.id}},
                        {{task.user.id}},
                         {{task.priority}},
                          '{{task.date_created}}',
                           '{{task.date_due}}',
                            '{{task.desc}}',
                             '{{task.repeat}}',
                             '{{task.note}}')">View Task</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Task Dashboard Ends -->

<!-- Modal View Task-->
<div class="modal fade" id="modalViewTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitleViewTask" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light" data-bs-theme="dark">
                <h1 class="modal-title fs-5" id="modalHeaderViewTask">Create a Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Form Proper -->
            <form action="edit_task" method="POST" class="form p-4" id="formEditTask">
                {% csrf_token %}
                <div class="modal-body">
                    {% for field in editform %}
                    <!-- Looping through the form fields-->
                    {% if field.label == 'IntervalLength' %}
                    <!-- Styling for the repeating tasks followup questions-->
                    <div id="id_edit_repeat_interval" class="row d-flex flex-wrap justify-content-between mb-3 d-none">
                        <div class="col mx-4 d-flex align-items-center">
                            <div class="col-6 text-end px-2">
                                *This task should repeat every
                            </div>
                            {{field}}
                    {% elif field.label == 'Interval'%}
                            {{field}}
                        </div>
                    </div>
                    {% elif field.label == 'Description' or field.label == 'Notes' %}
                    <!-- Give the description its own row -->
                    <div class="row d-flex flex-wrap justify-content-between mb-3">
                        <div class="col mx-4">
                            {{field.label}}
                            {{field}}
                        </div>
                    </div>
                    {% elif field.label == 'Id' %}
                    <!-- Don't show the label for the ID field -->
                    {{field}}
                    {% elif forloop.counter0|divisibleby:2 %}
                    <!-- Group every 2 fields together into a div -->
                    <div class="row d-flex flex-wrap justify-content-between mb-3">
                        <div class="col-11 col-md-5 mx-4">
                            {{field.label}}
                            {{field}}
                        </div>
                    {% else %}
                        <div class="col-11 col-md-5 mx-4">
                            {{field.label}}
                            {{field}}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-lg" onclick="toggleEdit()">Edit</button>
                    <button id="save_edit" disabled type="submit" class="btn btn-primary btn-lg text-light" value="">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Create Task -->
<div class="modal fade" id="modalCreateTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalTitleCreateTask" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light" data-bs-theme="dark">
                <h1 class="modal-title fs-5" id="modalHeaderCreateTask">Create a Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Form Proper -->
            <form action="create_task" method="POST" class="form p-4" id="formCreateTask">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Looping through the form fields-->
                    {% for field in createform %}
                    <!-- Styling for the repeating tasks followup questions-->
                    {% if field.label == 'Length' %}
                        <div id="id_create_repeat_interval" class="row d-flex flex-wrap justify-content-between mb-3 d-none">
                            <div class="col mx-4 d-flex align-items-center">
                                <div class="col-6 text-end px-2">*This task should repeat every</div>
                                {{field}}
                    {% elif field.label == 'Interval'%}
                        {{field}}
                            </div>
                    </div>
                    <!-- Group every 2 fields together into a div -->
                    {% elif forloop.counter0|divisibleby:2 %}
                        <div class="row d-flex flex-wrap justify-content-between mb-3">
                            <!-- Give the description its own row -->
                            {% if field.label == 'Description' %}
                            <div class="col mx-4">
                                {{field.label}}
                                {{field}}
                            </div>
                            </div> <!-- This div is to close the desc field since it is the last field.-->
                            {% else %}
                            <div class="col-11 col-md-5 mx-4">
                                {{field.label}}
                                {{field}}
                            </div>
                            {% endif %}
                        
                    {% else %}
                        <div class="col-11 col-md-5 mx-4">
                            {{field.label}}
                            {{field}}
                        </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-lg text-light" value="">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
