{% load static %}
{% include 'head.html' with page_title='Tasks Home' %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#"
        ><img
                id="logo"
                src="{% static 'media/okeefeLogo.png' %}"
                alt="Logo"
                draggable="false"
                height="100"
        /></a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">

                {% if user.is_authenticated %}
                    {% if not user.is_staff %}
                        <li class="nav-item">
                            <a class="button-5" href="{% url 'user_info' user.username %}"><i
                                    class="fas fa-heart pe-2"></i>Manage Account</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="button-5" href="{% url 'getAllUsers' %}"><i class="fas fa-heart pe-2"></i>Manage
                                Account</a>
                        </li>
                    {% endif %}
                    <li class="nav-item ms-3">
                        <a class="button-5" role="button" href={% url 'logout' %}>Log out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->
</br>
<div class="container">
    {% block content %}
    {% endblock %}

</div>
</body>
</html>
