{% extends 'navbar.html' %}

{% block content %}

<section class="vh-10 gradient-custom">
    {% if status == 'failed' %}
    <div class="alert alert-danger" role="alert">
        Failed to change password. Check that your password meets the password requirements and that they match
    </div>
    {% endif %}
    <div class="form-group py-5 h-10">
        <form method="post">
            {% csrf_token %}
            <div class="row d-flex justify-content-center align-items-center h-80">
                <div class="col-12 col-md-4 col-lg-5">
                    <div class="card bg-light text-dark" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5 text-start">
                                <h2 class="fw-bold mb-2">Change Password</h2>
                                {% for field in form %}
                                <div class="form-outline form-white mb-4">
                                    {{field.label}}
                                    {{field}}
                                </div>
                                {% endfor %}
                                <div class="fs-6 fst-italic fw-light">
                                    {{form.password1.help_text}}
                                </div>
                                <input class="btn btn-outline-primary btn-lg px-5 w-100" type="submit" value="Change Password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
